Source: otsvm
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Julien Schueller <schueller@phimeca.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               cmake,
               libopenturns-dev,
               python3-openturns,
               python3-dev,
               swig
Standards-Version: 4.6.0
Homepage: http://www.openturns.org/
Rules-Requires-Root: no

Package: otsvm
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-openturns
Description: SVM module for OpenTURNS
 This is a LibSVM-based module for OpenTURNS
 It provides classification and regression capabilities

